<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-amaplocation-joyo" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AMapLocationPlugin</name>
    <description>Cordova AMapLocationPlugin Plugin Powerd by JoyoDuan</description>
    <author email="JoyoDuan@163.com" href="">
        JoyoDuan
    </author>
    <license>Apache 2.0</license>
    <keywords>cordova, AMapLocationPlugin, JoyoDuan</keywords>

    <!-- 对外js调用 name一般对应js对用native的类名-->
    <js-module name="AMapLocationPlugin" src="www/amap-location.js">
        <!-- target对应js中module.exports的原型对象，这里默认会注册到windows对象中，即AMapLocation.getLocation 和 window.AMapLocation.getLocation都可以 -->
        <clobbers target="AMapLocation"></clobbers>
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- 加了preference后，add plugin 时要跟variable参数 -->
        <preference name="KEY" default="" />
        <config-file parent="/*" target="res/xml/config.xml">
            <!-- name一般对应js对用native的类名 -->
            <feature name="AMapLocationPlugin">
                <param name="android-package" value="com.joyo.cordova.location.AMapLocationPlugin">
                </param>
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <!-- 这个权限用于进行网络定位-->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <!-- 这个权限用于访问GPS定位-->
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <!-- 用于读取手机当前的状态-->
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <!-- 访问网络，网络定位需要上网-->
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
            <!-- 允许应用读取低级别的系统日志文件 -->
            <uses-permission android:name="android.permission.READ_LOGS"/>
            <!--修改当前配置-->
            <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
            <!--拨打电话的权限，该权限并非该插件所需，只是为了方便App调用电话-->
            <uses-permission android:name="android.permission.CALL_PHONE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--您申请的高德地图android key-->
            <meta-data android:name="com.amap.api.v2.apikey" android:value="$KEY"/>
            <!-- 定位需要的服务 -->
            <service android:name="com.amap.api.location.APSService"></service>
        </config-file>

        <source-file src="libs/android/AMap_Location_V4.5.0_20190121.jar" target-dir="libs"/>

        <source-file src="src/android/AMapLocationPlugin.java" target-dir="src/com/joyo/cordova/location">
        </source-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <!-- name一般对应js对用native的类名 -->
            <feature name="AMapLocationPlugin">
                <param name="ios-package" value="AMapLocationPlugin"/>
            </feature>
        </config-file>
        <config-file target="*/*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>
        <config-file target="*/*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>为了确保您可以正确使用本应用，请选择允许</string>
        </config-file>
        <source-file src="src/ios/AMapLocationPlugin.m"/>
    </platform>
</plugin>
